* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFF2E2;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav span {
    font-weight: 700;
    font-size: 25px;
    color: #008a4c;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.phone {
    font-size: 15px;
    font-weight: 500;
}

.phone i {
    margin-right: 10px;
    color: #008a4c;
}

main {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    width: 100%;
}

.content {
    margin-bottom: 100px;
    margin-right: 80px; 
}

.content h1 {
    font-size: 250px;
    font-weight: 700;
    color: #008a4c;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 320px;
    letter-spacing: -10px;
}

.content h1 span {
    margin-left: 70px;
}

.content p {
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    position: absolute;
    top: 340px;
    left: 200px;
}

.content .button{
    color: #fff;
    background: linear-gradient(149deg, rgba(14,184,107,1) 27%, rgba(0,138,76,1) 100%);
    padding: 20px 75px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 430px;
    left: 200px;
}

.icons {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 590px;
    left: 200px;
}

.icons span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #008a4c;
    padding: 15px;
    border-radius: 80%;
    width: 45px;
}

.content i {
    color: #008a4c;
    font-size: 15px;
    font-weight: 500;
}

.imagens .img01{
    width: 750px;
    position: absolute;
    left: 435px;
    top: -100px;
}

.imagens .img02{
    position: absolute;
    left: 1120px;
    top: 70px;
    width: 80px;
    rotate: 40deg;
}

.imagens .img03{
    position: absolute;
    left: 1180px;
    top: 370px;
    width: 150px;
    rotate: 40deg;
}

.imagens .img04{
    position: absolute;
    left: 0;
    top: 465px;
    width: 150px;
    rotate: -40deg;
}
